<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1><%= date %></h1>
    </div>
    <div class="todo-parent">
        <div class="todo-container">    
            <% todoList.forEach(todoItem => { %>
                <div class="todo">
                    <div class="todo-item-container">
                        <div class="todo-item"><%= todoItem.name %></div>
                    </div>
                    <form method="POST" action="/delete">
                        <input class="form-check-input" name="checked" type="checkbox" value="<%= todoItem.name %>" onChange="this.form.submit()">
                    </form>
                </div>
            <% }) %>
                
      
        </div>
        <div class="todo-input">
            <form action="/" method="POST" class="input-form">
                <input type="text" class="input" name="todo" autofocus autocomplete="off">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>